html {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-image: url("../images/bread.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background: blur(10px)
}

h1 {
    width: 500px;
    margin: 0 auto;
    display: flex;
}


p {
    border: solid black;
    color: black;
    width: 500px;
    margin: 0 auto;
    padding: 8px;
    background-color: white;
}

h2 {
    width: 500px;
    margin: 20px auto;
}

ul {
    width: 500px; 
    margin: 0 auto;
    background-color: white;
    border: solid black;
}

.steps {
    margin: 6px auto;
    border: solid black;
    padding: 4px;
    background-color: white;
}

ol {
    width: 500px; 
    margin: 0 auto;
}

div {
    width:500px;
    margin: 10px auto;

}

.title {
    display: flex;
}

.recipes {
    border: solid black;
    display: inline-block;
    background-color: white;
    padding: 2px;
}

